<a href="https://colab.research.google.com/github/PrithiviRajMK/Pyspark_Financial_Stock-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 KB 18.7 MB/s eta 0:00:00
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=59f7f7325732160cf2703e2c9dc2134de77f72d028b6d77b8a97658a03965dc9
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [10]:
df=spark.read.csv("/content/sample_data/california_housing_train.csv",header=True)

In [11]:
df.show(10)

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 10 rows

In [12]:
df.take(2)

[Row(longitude='-114.310000', latitude='34.190000', housing_median_age='15.000000', total_rooms='5612.000000', total_bedrooms='1283.000000', population='1015.000000', households='472.000000', median_income='1.493600', median_house_value='66900.000000'),
 Row(longitude='-114.470000', latitude='34.400000', housing_median_age='19.000000', total_rooms='7650.000000', total_bedrooms='1901.000000', population='1129.000000', households='463.000000', median_income='1.820000', median_house_value='80100.000000')]

In [14]:
df.dtypes

[('longitude', 'string'),
 ('latitude', 'string'),
 ('housing_median_age', 'string'),
 ('total_rooms', 'string'),
 ('total_bedrooms', 'string'),
 ('population', 'string'),
 ('households', 'string'),
 ('median_income', 'string'),
 ('median_house_value', 'string')]

In [16]:
df.select("longitude","latitude","households").show()

+-----------+---------+-----------+
|  longitude| latitude| households|
+-----------+---------+-----------+
|-114.310000|34.190000| 472.000000|
|-114.470000|34.400000| 463.000000|
|-114.560000|33.690000| 117.000000|
|-114.570000|33.640000| 226.000000|
|-114.570000|33.570000| 262.000000|
|-114.580000|33.630000| 239.000000|
|-114.580000|33.610000| 633.000000|
|-114.590000|34.830000| 158.000000|
|-114.590000|33.610000|1056.000000|
|-114.600000|34.830000| 271.000000|
|-114.600000|33.620000| 824.000000|
|-114.600000|33.600000| 437.000000|
|-114.610000|34.840000| 211.000000|
|-114.610000|34.830000| 479.000000|
|-114.630000|32.760000| 300.000000|
|-114.650000|34.890000| 401.000000|
|-114.650000|33.600000| 256.000000|
|-114.650000|32.790000|  27.000000|
|-114.660000|32.740000| 320.000000|
|-114.670000|33.920000|  15.000000|
+-----------+---------+-----------+
only showing top 20 rows

In [17]:
df.count()

17000

In [18]:
df.describe()

DataFrame[summary: string, longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]